# Arquivos de ambiente - NUNCA comite este arquivo no seu repositório!
# Ele contém segredos, chaves de API e configurações locais.
.env
.env.*
!.env.example

# Arquivos gerados pelo Sistema Operacional e Editores de Código
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.user
.vs/

### Python ###
__pycache__/
*.pyc
*.pyo
*.pyd
# Ambientes virtuais
venv/
env/
.venv/
# Pacotes e distribuição
build/
dist/
*.egg-info/
*.egg
# Testes e Banco local
.pytest_cache/
*.db
*.sqlite3

### Node.js / React ###
node_modules/
build/
dist/
.next/
npm-debug.log*
yarn-error.log*
yarn-debug.log*
.eslintcache
.vite/

### .NET / C# ###
**/bin/
**/obj/
*.lscache
TestResults/
log/

### C++ / Arduino / ESP32 ###
# Arquivos compilados e executáveis
*.o
*.obj
*.out
*.exe
*.dll
*.so
*.lib
*.a
*.bin
*.elf
*.hex

### Kotlin / JVM (Gradle/Maven) / Android ###
# Diretórios de build do Gradle e Maven
target/
out/
# Arquivos gerados pelo Gradle
.gradle/
**/build/
local.properties
# Arquivos de log e pacotes
*.log
*.jar
*.war
*.ear
*.apk
*.aab
*.ap_
# Logs de crash da JVM
hs_err_pid*

# .env do C++
secrets.h