# Web Framework
fastapi
uvicorn[standard]

# Validação e Configurações (Essencial para seu ETL)
pydantic
pydantic-settings
python-dotenv

# Clientes de Dados
supabase
redis

# Para fazer requisições assíncronas à API da Adafruit
httpx

# Utilitários
python-multipart

# Agendamento de Tarefas
apscheduler

# Segurança e JWT
python-jose[cryptography]
passlib[bcrypt]

# Banco de Dados e Migrations (ORM)
sqlalchemy
alembic
psycopg2-binary