.login-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: #f3f4f6; /* Ou alguma variÃ¡vel global, ex: $color-bg-light */
}

.login-page-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-sizing: border-box;
}