@use '../../../styles/default.scss' as *;

.stat-card {
  /* O Card genérico já tem bordas e paddings, nós apenas customizamos a borda */
  border: 1px solid transparent; // borda padrão invisível para não pular layout

  &--danger {
    border-color: $color-danger;
  }

  &--warning {
    border-color: $color-warning;
  }

  &--success {
    border-color: $color-success;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: $spacing-md;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem; /* ou tamanho equivalente do seu ícone */
    
    &--danger { color: $color-danger; }
    &--warning { color: $color-warning; }
    &--success { color: $color-success; }
    &--primary { color: #0b5fb4; } /* cor tema padrão */
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__value {
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-text-main;
  }

  &__description {
    font-size: 0.875rem;
    color: #6b7280;
  }
}
