.status-badge {
  padding: 0.25rem 0.75rem;
  border-radius: 99px;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;

  &--normal { 
    background-color: rgba($color-success, 0.1); 
    color: $color-success; 
  }
  &--alerta { 
    background-color: rgba($color-warning, 0.1); 
    color: $color-warning; 
  }
  &--critico { 
    background-color: rgba($color-danger, 0.1); 
    color: $color-danger; 
  }
}
